
<form (ngSubmit)="update()" class="max-w-sm mx-auto">
    <div class="mb-5">
        <label for="title" class="block mb-2 text-sm font-medium text-gray-900">title: </label>
        <input type="text" id="title" [(ngModel)]="note.title" name="title"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            required />
    </div>
    <div class="mb-5">
        <label for="description" class="block mb-2 text-sm font-medium text-gray-900 ">description:
        </label>
        <textarea id="description" [(ngModel)]="note.description" name="description"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            required></textarea>
    </div>
    <div class="mb-5">
        <label for="color" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">color: </label>
        <input type="text" id="color" [(ngModel)]="note.color" name="color"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            required />
    </div>

    <button type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">update</button>
    <button (click)="goback()"
        class=" ml-1 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">go back</button>
</form>