<mat-toolbar class="flex justify-between w-full">
    <div class="flex items-center gap-1">
        <mat-icon>speaker_notes</mat-icon>
        <span>My Notes</span>
    </div>
    <div class="flex gap-3">
        <button [routerLink]="['/create']" mat-icon-button aria-label="Create" color="accent">
            <mat-icon>note_add</mat-icon>
        </button>
        <button [routerLink]="['/dashboard']" routerLinkActive="router-link-active" mat-icon-button aria-label="Dashboard"
            color="accent">
            <mat-icon>insert_chart</mat-icon>
        </button>
    </div>

</mat-toolbar>

<app-notes></app-notes>

<footer  class="w-full flex flex-col gap-2 items-center justify-center mt-auto p-3 box-border">
    <span>© 2025 - All Rights Reserved</span>
    <div class="flex gap-1 items-center">
        <mat-icon>email</mat-icon>
        <span>{{'ebrahimalishahi@gmail.com'}}</span>
    </div>
</footer>